@mixin responsive-box($height) {
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: $height;
    }
}

.folder-preview {
    position: relative;
    @include responsive-box(100%);
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .folder-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:nth-child(1) {
            z-index: 1;
        }

        &:nth-child(2) {
            z-index: 2;
        }
    }
}
