.drag-drop-zone {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    cursor: pointer;
    min-height: 100px;
}

.drag-enter {
    box-shadow: var(--mud-elevation-10);
}

::deep .drag-drop-input {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    min-height: 100px;
}
