@inherits LayoutComponentBase

<div @ondragenter="@(()=>_dragEnterStyle="drag-enter")"
    @ondragleave="@(()=>_dragEnterStyle=null)"
    @ondragend="@(()=>_dragEnterStyle=null)"
    @ondrop="@OnDrop" 
    @ondrop:preventDefault="true" 
    @ondrop:stopPropagation="true"
    @ref="dropZoneElement" 
    Class=@("mud-paper mud-elevation-1 drag-drop-zone " + _dragEnterStyle) 
    Style=@("background-color: "+ Color)>

</div>
