.square {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.def-empty-img {
    background-image: url('icons/folder-empty.png');
}